.App {
  text-align: center;
  
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}



.img-fluid{
  max-width:50px;
}


  

body{
  background-color:#eaf6ff;
  color:#232528;
}
.btnValider{
 
  border-radius:12px;
}

.active,.btnValider,header,.buttonRetour,th{
  background-color: #FFA400;
}
.notActive{
  background-color: transparent;
}
.btnValider,.active,.notActive,.buttonRetour{
  border:none;
  color:#232528;

}

.buttonRetour{
position: fixed;
bottom:0;
left:0;
}
.parent{
  position: relative;
}
.input{
  max-width: 50px;
  padding: 0;
}
input[type="number"]{
  border:1px solid #232528!important;
}

input[type="number"]:disabled{
  background-color: transparent;
  border:none!important;
}
td,th,.table-bordered{
  border:1px solid #232528!important;
  margin: auto;
}

@media  (min-width:325px){
.img-fluid:hover{
  margin-top: 15px;
  margin-bottom: 5px;
  transform: scale(1.5);
  }
}
@media (max-width:324px){
  .titre{
    margin: 0 35px;
  }
  .img-fluid:hover{
    transform: scale(1.5);

  }
}